html, body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


html {
  box-sizing: border-box;
}


#root {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg-color);
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}