:root {
  --overlay-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  );
  --chat-header-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 78%,
    rgba(255, 255, 255, 0) 100%
  );
  --chat-footer-bg: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, .5) 78%,
    rgba(255, 255, 255, 0) 100%
  );
}


* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}



.header {
  //height: 80px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  //display: flex;
  align-items: center;
  //padding: 0 20px;
}


.wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.conversation-area {
  width: 340px;
  flex-shrink: 0;

  .lastMessagePreview {
    font-size: .9em;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
    opacity: .4;
    font-style: italic;
  }
}

.chat-area {
  flex-grow: 1;
}


.conversation-area {
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}


.overlay {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  flex-shrink: 0;
  background: var(--overlay-bg);
  height: 80px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-area {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat-area {
  display: flex;
  flex-direction: column;
  overflow: auto;
  &-header {
    //display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    //padding: 0px 20px 20px 20px;
    background: var(--chat-header-bg);
  }
  &-main {
    flex-grow: 1;
  }
  .peer-title {
    margin: 0;
  }

  .emoji-mart {
    position: absolute;
    bottom: 0;
    margin-bottom: 110px;
    z-index: 2000;
    left: 0;
    margin-left: 20px;
    .emoji-mart-bar {
      display: none;
    }
  }
}


.chat-area-footer {
  display: flex;
  border-top: 1px solid var(--border-color);
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  background-color: white;
  //background: var(--chat-footer-bg);
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  min-height: 100px;
}

.chat-area-group {
 flex-shrink: 0;
 display: flex;
 * {
  border: 2px solid var(--theme-bg-color);
 }
 * + * {
  margin-left: -5px;
 }

 span {
  width: 32px;
  height: 32px;
  background-color: var(--button-bg-color);
  color: var(--theme-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
 }
}



@media (max-width: 780px) {
 .conversation-area {
  display: none;
 }
}


.chat-area-footer svg {
  //color: var(--settings-icon-color);
  //width: 20px;
  //flex-shrink: 0;
  //cursor: pointer;
  &:hover {
   //color: var(--settings-icon-hover);
  }
 
  & + svg {
   //margin-left: 12px;
  }
 }
 
 .chat-area-footer input {
  border: none;
  color: var(--body-color);
  background-color: var(--input-bg);
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0 12px;
  width: 100%;
  &::placeholder {
   color: var(--input-chat-color);
  }
 }



.messageDisplaycontainer {
  word-wrap: break-word;
}

.messageDisplayName {
  font-weight: bold;
}

.messageDisplayTS {
  font-size: .7rem;
  color: grey;
  padding-left: 5px;
}

.messageDisplaycontainer > div {
  padding: 2px;
}

#text-send-container {
  align-items: center;
 
  width: 100%; 
  > div {
    
    //display: inline-block;
  }
  #message-textarea-container {
    width: 100%;
    //float: left;
  }

  #message-btn-container {
    width: 100%;
    #send-icon {
      float: right;
    }
    
  }

  textarea {
    font-family: inherit;
    font-size: inherit;
    margin-right: 10px;
    border: none;
    //border-radius: 30px;
    width: 100%;
    box-sizing: content-box;
    resize: none;
    border-bottom: 1px solid gray;
  }

  button {
    //border-radius: 50%;
    //padding: 15px;
    //float: right;
    //margin-left: 10px;
  }
}