#text-send-container {
  bottom: 0;
  background-color: #F0F0F0;
  padding: 5px;
  margin-top: auto;
  width: 100%;
}



#text-send-region-container {
  margin-top: auto;
}

#text-send-container > div {
  margin-right: 10px;
}

#chat-window {
  overflow-y: scroll;
  max-height: 100%;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chat-window::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chat-window {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#chat-window-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.messageDisplaycontainer {
  word-wrap: break-word;
}

.messageDisplayName {
  font-weight: bold;
}

.messageDisplayTS {
  font-size: .7rem;
  color: grey;
  padding-left: 5px;
}

.messageDisplaycontainer > div {
  padding: 2px;
}