#text-send-container {
  position: absolute;
  bottom: 0;
  background-color: #F0F0F0;
  padding: 5px;
}

#text-send-container > div {
  margin-right: 10px;
}


#chat-window-container {
  overflow-y: scroll;
  height: 100vh;
  min-height: 200px;
  box-sizing: border-box;
}